<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div id="my-application"></div>
        <!-- require('html-loader!./partial.html') -->
        <select name="clearanceselect" id="clearance">
            <option value="water">Water</option>
            <option value="air">Air</option>
            <option value="land">Land</option>
            <option value="index">Index</option>
        </select>
    </body>
</html>
